###################
# Mandatory overrides for default sdkconfig (idf.py menuconfig)
# This list will be used when creating a new sdkconfig from scratch
#

#
# Flash
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"


#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000



# ESP HTTP client
#
CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS=y


#
# Bootloader config
#
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y


#
# ESP-TLS
#
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y  

#
# PPP
#
CONFIG_PPP_SUPPORT=y
CONFIG_PPP_NOTIFY_PHASE_SUPPORT=y
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_NOTIFY_PHASE_SUPPORT=y
# CONFIG_LWIP_PPP_ENABLE_IPV6 is not set
# CONFIG_LWIP_PPP_PAP_SUPPORT is not set
# CONFIG_LWIP_PPP_DEBUG_ON=y
# CONFIG_LWIP_PPP_PAP_SUPPORT=y



#
# LWIP
#
CONFIG_LWIP_IP4_REASSEMBLY=y
CONFIG_LWIP_IP6_REASSEMBLY=y
# CONFIG_LWIP_DHCP_DOES_ARP_CHECK not set
# CONFIG_LWIP_ESP_GRATUITOUS_ARP is not set



#
# CPU
#
CONFIG_ESP32_DEFAULT_CPU_FREQ_160=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=160


#
# Weatherbuoy
#
CONFIG_WEATHERBUOY_WIFI_STA_SSID=""
CONFIG_WEATHERBUOY_WIFI_STA_PASS=""
CONFIG_WEATHERBUOY_HOSTNAME="buoyinit"
CONFIG_WEATHERBUOY_WIFI_AP_PASS=""
CONFIG_WEATHERBUOY_SENDDATA_INTERVAL_DAYTIME=10
CONFIG_WEATHERBUOY_SENDDATA_INTERVAL_NIGHTTIME=60
CONFIG_WEATHERBUOY_SENDDATA_INTERVAL_HEALTH=300
CONFIG_WEATHERBUOY_CELLULAR_APN="webapn.at"
CONFIG_WEATHERBUOY_CELLULAR_USER=""
CONFIG_WEATHERBUOY_CELLULAR_PASS=""
CONFIG_WEATHERBUOY_CELLULAR_OPERATOR="A1"
CONFIG_WEATHERBUOY_CELLULAR_NETWORK=51
CONFIG_WEATHERBUOY_SENDDATA_INTERVAL_DAY=60   
CONFIG_WEATHERBUOY_SENDDATA_INTERVAL_NIGHT=300 
CONFIG_WEATHERBUOY_SENDDATA_INTERVAL_DIAGNOSTICS=900
CONFIG_WEATHERBUOY_SENDDATA_INTERVAL_LOWBATTERY=3600 

#
# Cellular
#
# CONFIG_LILYGO_TTGO_TCALL14_SIM800 is not set
CONFIG_LILYGO_TTGO_TPCIE_SIM7600=y
# end of Cellular


#
# ESP32-specific
#
CONFIG_ESP32_REV_MIN_1=y
CONFIG_ESP32_REV_MIN=1


#
# UART configuration
#
CONFIG_UART_ISR_IN_IRAM=y
# end of UART configuration


#
# Common ESP-related
# Main stack size: default is 3584, Configure the "main task" stack size. This is the stack of the task which calls app_main(). If app_main() returns then this task is deleted and its stack memory is freed.
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192   

#
# TWAI configuration
#
CONFIG_TWAI_ISR_IN_IRAM=y

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_SIZE=y


#
# Log output
#
# use system time instead of millisecs since start.
CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM=y


#
# Certificate Bundle
#
# save a bit code size by setting TLS client only mode
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_MBEDTLS_TLS_CLIENT=y

#
# ADC and ADC Calibration
#
CONFIG_ADC_ONESHOT_CTRL_FUNC_IN_IRAM=y
# CONFIG_ADC_CONTINUOUS_ISR_IRAM_SAFE is not set
