menu "Weatherbuoy"

    choice WEATHERBUOY_MODE
        prompt "Operation Mode"
        default WEATHERBUOY_MODE_BUOY
        help
            The default mode is to operate weatherbuoy electronics as BUOY. 
            However, the same electronics can be used on a moving boat, e.g. regatta start boat with a Garmin GNX130 display.
            Additional modes allow to reuse same electronics to simulate maximet wind sensors for testing purposes.
        config WEATHERBUOY_MODE_BUOY
            bool "Operate as an autonomous solar powered anchored weatherbuoy on the water."
        config WEATHERBUOY_MODE_NMEA2000_DISPLAY
            bool "Operate as an regatta racing committee anemometer on a startboat with NMEA2000 compatible display like Garmin GNX130."
        config WEATHERBUOY_MODE_MAXIMET_GMX501
            bool "Simulate Gill Maximet weather station GMX501, without GPS"
        config WEATHERBUOY_MODE_MAXIMET_GMX200GPS
            bool "Simulate Gill Maximet weather station GMX200, with GPS option"
    endchoice

    config WEATHERBUOY_WIFI_STA_SSID
        string "Default WiFi Station SSID"

    config WEATHERBUOY_WIFI_STA_PASS
        string "Default WiFi Station Password"

    config WEATHERBUOY_HOSTNAME
        string "Default Hostname and AP SSID. Max 32 char."
        default "buoytest"
        help
            Default Hostname. Will be also used for Wifi AP SSID. Max 32 char.

    config WEATHERBUOY_WIFI_AP_PASS
        string "Default WiFi AP Password."
        default ""

    config WEATHERBUOY_TARGET_URL
        string "Default target URL to send data and retrieve configuration."

    config WEATHERBUOY_CELLULAR_APN
        string "Network provider APN"
            
    config WEATHERBUOY_CELLULAR_USER
        string "Network provider USER (Leave blank for Yesss network)."
        default ""
    
    config WEATHERBUOY_CELLULAR_PASS
        string "Network provider PASS (Leave blank for Yesss network)."
        default ""

    config WEATHERBUOY_CELLULAR_OPERATOR
        string "Preferred network operator. Default = A1"
        default "A1"

    config WEATHERBUOY_CELLULAR_NETWORK
        int "Preferred network mode. Default = 2 (automatic)"
        help  
              2 - Automatic
              9 - CDMA Only
              13 - GSM Only
              14 - WCDMA Only
              38 – LTE Only
              59 – TDS-CDMA Only
              10 – EVDO Only
              19 – GSM+WCDMA Only
              22 – CDMA+EVDO Only
              48 – Any but LTE
              60 – GSM+TDSCDMA Only
              63 – GSM+WCDMA+TDSCDMA Only
              67 – CDMA+EVDO+GSM+WCDMA+TDSCDMA Only
              39 – GSM+WCDMA+LTE Only
              51 – GSM+LTE Only
              54 – WCDMA+LTE Only
        default 2


endmenu
