menu "Weatherbuoy"

    config WEATHERBUOY_WIFI_STA_SSID
        string "Default WiFi Station SSID"

    config WEATHERBUOY_WIFI_STA_PASS
        string "Default WiFi Station Password"

    config WEATHERBUOY_HOSTNAME
        string "Default Hostname and AP SSID. Max 32 char."
        default "buoytest"
        help
            Default Hostname. Will be also used for Wifi AP SSID. Max 32 char.

    config WEATHERBUOY_WIFI_AP_PASS
        string "Default WiFi AP Password."
        default ""

    config WEATHERBUOY_NTPSERVER
        string "Default NTP Server."
        default "pool.ntp.org"
        help
            NTP server hostname. e.g. at.pool.ntp.org.
    
    config WEATHERBUOY_TARGET_URL
        string "Default target URL to send data and retrieve configuration."

    config WEATHERBUOY_CELLULAR_APN
        string "Network provider APN"
            
    config WEATHERBUOY_CELLULAR_USER
        string "Network provider USER (Leave blank for Yesss network)."
        default ""
    
    config WEATHERBUOY_CELLULAR_PASS
        string "Network provider PASS (Leave blank for Yesss network)."
        default ""

    config WEATHERBUOY_CELLULAR_OPERATOR
        string "Preferred network operator. Default = A1"
        default "A1"

    config WEATHERBUOY_CELLULAR_NETWORK
        int "Preferred network mode. Default = 2 (automatic)"
        help  
              2 - Automatic
              9 - CDMA Only
              13 - GSM Only
              14 - WCDMA Only
              38 – LTE Only
              59 – TDS-CDMA Only
              10 – EVDO Only
              19 – GSM+WCDMA Only
              22 – CDMA+EVDO Only
              48 – Any but LTE
              60 – GSM+TDSCDMA Only
              63 – GSM+WCDMA+TDSCDMA Only
              67 – CDMA+EVDO+GSM+WCDMA+TDSCDMA Only
              39 – GSM+WCDMA+LTE Only
              51 – GSM+LTE Only
              54 – WCDMA+LTE Only
        default 2

    config WEATHERBUOY_MAXIMET_SIMULATOR
        int "Simulate Maximet via Serial. Default = 0 (off)"
        help  
                0 - Off
                2001 - Maximet GMX200 with GPS
                5010 - Maximet GMX501
                5011 - Maximet GMX501 with GPS
        default 0

    config WEATHERBUOY_SENDDATA_INTERVAL_DAY
        int "Interval in seconds to send data at daytime. default = 60 seconds."
        default 60   

    config WEATHERBUOY_SENDDATA_INTERVAL_NIGHT
        int "Interval in seconds to send data at daytime. default = 300 seconds."
        default 300   

    config WEATHERBUOY_SENDDATA_INTERVAL_DIAGNOSTICS
        int "Interval in seconds to send data at daytime. default = 900 seconds."
        default 900   

    config WEATHERBUOY_SENDDATA_INTERVAL_LOWBATTERY
        int "Interval in seconds to send data at daytime. default = 3600 seconds."
        default 3600   
            
       

endmenu
